In [3]:
h="95"
g=int(h)
print(type(g))

<class 'int'>

In [5]:
print("square of {} is{}".format(86,round(86**(1/2),2)))

square of 45 is6.71

In [6]:
print("cube of{} is {}".format(85,85**(1/3)))

cube of85 is 4.396829672158179

In [7]:
print("{} hours and {} min".format(15908//60,15908%60))

1 hours and 1 min

In [9]:
print("{} hours and {} min".format(784569324//24,784569324%24))

32690388 hours and 12 min

In [10]:
print("{}days , {}hours and {} min".format(14754698//24,14754698//24,14754698%24))

614779 days , 614779hours and 2 min

In [11]:
type(int(h))

int

In [12]:
float(h)

95.0

In [13]:
a="Each row contains a unique village ,the block containing  "

In [14]:
a.upper()

'EACH ROW CONTAINS A UNIQUE VILLAGE ,THE BLOCK CONTAINING  '

In [15]:
a.lower()

'each row contains a unique village ,the block containing  '

In [19]:
a.find("village")

27

In [20]:
a.split()

['Each',
 'row',
 'contains',
 'a',
 'unique',
 'village',
 ',the',
 'block',
 'containing']

In [22]:
new_a=a.replace("unique","brilliant")
print(new_a)

Each row contains a brilliant village ,the block containing

In [23]:
word_to_remove="the"

In [24]:
result=a.replace(word_to_remove,"")

In [25]:
print(result)

Each row contains a unique village , block containing

In [12]:
r={"ID":[101,102,103],
"JOB":["HR", "manager","CA"]}

In [13]:
r.keys()

dict_keys(['ID', 'JOB'])

In [15]:
r.values()

dict_values([[101, 102, 103, 1446], ['HR', 'manager', 'CA']])

In [16]:
r["ID"]

[101, 102, 103, 1446]

In [17]:
r["JOB"]

['HR', 'manager', 'CA']

In [18]:
type(r["ID"])

list

In [14]:
r["ID"].append(1446)

In [19]:
r

{'ID': [101, 102, 103, 1446], 'JOB': ['HR', 'manager', 'CA']}

In [21]:
r["ID"].insert(0,1440)

In [22]:
r

{'ID': [1440, 101, 102, 103, 1446], 'JOB': ['HR', 'manager', 'CA']}

In [25]:
r["ID"][0]=1000

In [26]:
r

{'ID': [1000, 101, 102, 103, 1446], 'JOB': ['HR', 'manager', 'CA']}

In [27]:
r["ID"].pop()

1446

In [28]:
r

{'ID': [1000, 101, 102, 103], 'JOB': ['HR', 'manager', 'CA']}

In [29]:
round(len(r["ID"])/2)+1

3

In [30]:
r["ID"].pop(3)

103

In [31]:
r

{'ID': [1000, 101, 102], 'JOB': ['HR', 'manager', 'CA']}

In [ ]:
if condition1:
    print("statement 1")
elif condition2:
    print("statement 2")
elif condition3:
     print("statement 3")
else:
     print("last_statement")

In [ ]:
x=float(input("enter the number"))
if x>0:
    print(x,"is positive")
else:
    print(x,"is negative")

In [ ]:
x=float(input("enter the number"))
if x>0:
    print(x,"is positive")
elif x==0:
    print(x,"is zero")
else:
    print(x,"is negative")

In [1]:
x=float(input("enter the number"))
if x%2==0:
    print("even")
else:
    print("odd")

In [ ]:
x=float(input("enter the number"))
if x%2==0:
    y=x**3
    print("{} is the cube of {} cause it is even".format(y,x))
else:
    y=x**2
    print("{} is the square of {} cause it is odd".format(y,x))

In [ ]:
x=float(input("enter the number"))
if x>100 and x%2==0:
    y=x**3
    print("{} is the cube of {} cause it is even".format(y,x))
elif 
    y=x**2
    print("{} is the square of {} cause it is odd".format(y,x))

In [6]:
y=float(input("enter the number"))
if y>100 and y%2==0:
    z=y**2
    print("{} is the square of {} cause it is even".format(z,y))
elif y>100 and y%2!=0:
    z=y**3
    print("{} is the cube of {} cause it is odd".format(y,x))
elif y<100 and y%2==0:
    z=y**3
    print("{} is the cube of {} cause it is odd".format(y,x))
elif y<100 and y%2!=0:
    z=y**3
    print("{} is the cube of {} cause it is odd".format(y,x))
else:
    print("x is equal to 100")

In [2]:
#1.if x is more than 100 and odd calculate square 
#2.if x is more than 100 and even calculate square root
#3.if x is less than 100 and odd calculate cube
#4.if x is less than 100 and even calculate  cube root
#5. else : print x is equal to 100
x = float(input("enter the number"))
if x > 100 and x % 2 != 0:
  print(x**2"square of x cause it is odd and >100")
elif x > 100 and x % 2 == 0:
  print(x**(1/2)"square of x cause it is even and >100")
elif x < 100 and x % 2 != 0:
  print(x**3"cube of x cause it is odd and <100)
elif x < 100 and x % 2 == 0:
  print(x**(1/3)"cube of x cause it is even and <100")
else:
  print("x is equal to 100")

1.5874010519681994

In [11]:
#check the data type of x using condition statement 
x=122
if type(x) ==float:
    print("x is float")
elif type(x) ==int:
    print("x is int ")
elif type(x)==str:
    print("x is string")
else:
    print("x is bool")

x is int

In [16]:
#check if the x is start with a
s=input("enter the string")
if s[0] == "a":
 print("string starts with a")
else:
 print("does not starts with a")

does not starts with a

In [18]:
#check if the string ends with t
s= input("enter the string")
if s[-1]=="t":
    print("end with t")
else:
    print("does not ends with t")

does not ends with t

In [ ]:
#check if string starts with a and ends with a
#check if string starts with a and ends with r
#check if string does not start with a and ends with a

In [21]:
s=input("enter the string")
if s[0]=="a" and s[-1]=="a":
    print("string starts with a and ends with a")
elif s[0]=="a" and s[-1]=="r":
    print("string starts with a and ends with r")
elif s[0]!="a" and s[-1]!="r":
    print("string does not start with a and ends with r")
else:
    print("there is no condition")

string starts with a and ends with a

In [22]:
#check if ist letter is uppercase or lowercase
s=input("enter the string")
if s[0].isupper():
    print("first letter is uppercase")
else:
    print("first letter is lowercase")

first letter is uppercase

In [23]:
#check if the length of string is more then 6 or not
s=input("enter the string")
if len(s) > 6:
    print("length of string is more then 6")
else:
    print("length of string is less then 6")

length of string is more then 6