LIsT AND LOOP

In [ ]:
l=[1,2,3,4,5,6]
#for varibale in L:

In [1]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [2]:
i

6

In [5]:
g=["a","b","c","d","e",True]
for f in g:
    print(f)

a
b
c
d
e
True

In [7]:
#extract those element which is more than 5
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j>5:
        print(j)

7
8
9
6
6

In [8]:
#extract those element which is more than 5
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for i in w:
    print(i>5)

False
False
True
True
True
True
False
False
False
False
True
False
False
False

In [9]:
#extract those element which is more than 5
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for i in w:
    if i>5:
        print(i)

7
8
9
6
6

In [10]:
#extract even elements from the list
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w :
    if j%2==0:
        print(j)

4
8
6
2
4
6
2

In [1]:
#extract elements between 3 and 7
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w :
    if j>3 and j<7:
        print(j)

4
6
5
4
6
5

In [3]:
#calculate square of given elements
w=[1,4,7,8,9,6,3,2,5,4,6,3,2,5]
for j in w:
    if j%2==0:
        print(j**2)

16
64
36
4
16
36
4

In [4]:
#print elements starts with a
name = ["rohan","abhiniza","robin","karan","Aman","pankaj","aastha"]
for i in name:
    if i[0]=="a":
        print(i)

abhiniza
aastha

In [6]:
#another method
name = ["rohan","abhiniza","robin","karan","Aman","pankaj","aastha"]
for i in name:
    if i.startswith("a"):
        print(i)

abhiniza
aastha

In [8]:
#names start with a and end with a
name = ["rohan","abhiniza","robin","karan","Aman","pankaj","aastha"]
for i in name:
    if i.startswith("a") and i.endswith("a"):
        print(i)

abhiniza
aastha

In [9]:
#names start with a and end with a
name = ["rohan","abhiniza","robin","karan","Aman","pankaj","aastha"]
for i in name:
    if i[0]=="a" and i[-1]=="a":
        print(i)

abhiniza
aastha

In [10]:
#print 4 lettes of all names
name = ["rohan","abhiniza","robin","karan","Aman","pankaj","aastha"]
for i in name:
    print(i[0:4])

roha
abhi
robi
kara
Aman
pank
aast

In [14]:
#Leap years
year=[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for k in year:
    if k%4==0:
     
     print(k)

2000
2004
2008

In [15]:
#print the second highest element
s=[4,7,8,5,2,3,6,9,6,5,6,3,2]
s.sort()
s[-2]

8

In [16]:
#print the highest element in a list
s=[4,7,8,5,2,3,6,9,6,5,6,3,2]
s.sort()
s[-1]

9